#cloud-config
users:
  - name: ec2-user
    sudo:  ALL=(ALL) NOPASSWD:ALL
    ssh-authorized-keys:
%{ for key in ec2_user_public_keys ~}
      - ${key}
%{ endfor ~}
  - name: ec2-tunnel
    sudo: False
